# --- Python ---
# Virtual Environment
venv/
/venv/
.venv/
/.venv/
env/
/env/
.env/
/.env/

# Environment variables
.env
.env.*
!.env.example

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# --- LangGraph/Database ---
# Ignore the SQLite database file used for checkpoints
checkpoints.sqlite
checkpoints.sqlite-journal

# --- IDE / Editor ---
# Visual Studio Code
.idx
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Jetbrains
.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace

# --- Operating System ---
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# --- Other ---
# Log files
*.log
logs/

# Build artifacts
build/
dist/
*.egg-info/