version: '3.8'
services:
  postgres:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - pg-assistant-net
  
  backend:
    build:
      context: ./backend 
    container_name: postgres-assistant-backend
    restart: always
    env_file:
      - ./backend/.env 
    ports:
      - "8000:8000"
    networks:
      - pg-assistant-net
    depends_on:
      - postgres

volumes:
  pg-data:

networks:
  pg-assistant-net:
    driver: bridge

